
<div>
    <span style="display: inline-block;">Suggest Disorder(s) For {{ testresult.patient.name }}</span>
    {% comment %} <span style="display: inline-block; margin-left: 40%;"><i class="fa fa-search"></i> </span> {% endcomment %}
</div>
<hr style="border: 1px solid grey; margin-top: 1ex; width: 75%;">


{% comment %} <form> {% endcomment %}
    
    <div style="margin-top: 2ex; margin-left: 2ex;">

        {% for dieases in dieaseses %}
            
        <label class="ckbox-container">{{ dieases.name }}
            <input type="checkbox" name="{{dieases.id}}">
            <span class="ckbox-checkmark"></span>
        </label>

        {% endfor %}

        {% comment %} <label class="ckbox-container">PTSD
            <input type="checkbox" name="type1_1">
            <span class="ckbox-checkmark"></span>
        </label>
        <label class="ckbox-container" name="type1_2">Depression
            <input type="checkbox">
            <span class="ckbox-checkmark"></span>
        </label>

        <label class="ckbox-container">Orthorexia
            <input type="checkbox" name="type2_1">
            <span class="ckbox-checkmark"></span>
        </label>
        <label class="ckbox-container">OCD
            <input type="checkbox" name="type2_2">
            <span class="ckbox-checkmark"></span>
        </label> {% endcomment %}

    </div>


    {% comment %} <div>
        <span><input type="submit" value="Send" class="send-btn"></span>
    </div> {% endcomment %}
{% comment %} </form> {% endcomment %}
