

<div>
    <span style="display: inline-block;">Suggest Psychiatrist(s) For {{testresult.patient.name}}</span>
    {% comment %} <span style="display: inline-block; margin-left: 40%;"><i class="fa fa-search"></i> </span> {% endcomment %}
</div>
<hr style="border: 1px solid grey; margin-top: 1ex; width: 75%;">


{% comment %} <form> {% endcomment %}
    <div style="margin-top: 5ex;">
        <span> Adolescent </span>
        <hr style="border: 1px solid grey; margin-top: 1ex; width: 50%;">
    </div>

    <div style="margin-top: 2ex; margin-left: 2ex;">
        <label class="ckbox-container">Marvin McCoy
            <input type="checkbox" name="type1_1">
            <span class="ckbox-checkmark"></span>
        </label>
        <label class="ckbox-container" name="type1_2">Tom Halland
            <input type="checkbox">
            <span class="ckbox-checkmark"></span>
        </label>
    </div>



    <div style="margin-top: 5ex;">
        <span> Geriatric </span>
        <hr style="border: 1px solid grey; margin-top: 1ex; width: 50%;">
    </div>

    <div style="margin-top: 2ex; margin-left: 2ex;">
        <label class="ckbox-container">Arlene Steward
            <input type="checkbox" name="type2_1">
            <span class="ckbox-checkmark"></span>
        </label>
        <label class="ckbox-container">Benedict Cumberbatch
            <input type="checkbox" name="type2_2">
            <span class="ckbox-checkmark"></span>
        </label>
    </div>


    <div>
        <span><input type="submit" value="Send" class="send-btn"></span>
    </div>
{% comment %} </form> {% endcomment %}


