{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'take_questionnaire/styles.css' %}" rel="stylesheet">
    <title>DSM Questionnaire</title>
</head>
<body>
<div class="container">
    <section class="header">
        {% include "logo.html" %}
        <nav>
            <ul class="nav-links">
                <li>Home</li>
                <li>Trends and Statistics</li>
                <li>File Requests</li>
            </ul>
            <span class="nav-right">
                    <span><i class="fa fa-search" style="margin-right: 10px;"></i>
                        <span class="avatar" onclick="document.getElementById('logout-modal-id').style.display='block'" style="cursor: pointer;">{{my.name}}</span>
                    </span>
                    <span class="notifi-box">
                        Notifications
                        <i class="fa fa-envelope" style="margin-left: 5px;"></i>
                    </span>
                </span>
        </nav>
    </section>
    <section class="que-sec">
        <div class="tron">{{test.name}}</div>
        <div class="test-steps">
            <ul class="test-steps-ul">
                <li class="test-step-n"><span class="test-step-circ active-step"></span><span>Test</span><span>Questions</span></li>
                <li class="test-step-n"><span class="test-step-circ"></span><span>Your</span><span>Results</span></li>
            </ul>
        </div>
        <div class="questions-container">
            <form action="{% url 'take_questionnaire:submit' test.id %}" style="position: relative;". method="POST">
                {% csrf_token %}
                <ul class="test-ovrs">
                {% for q in test.questions.all %}  
                    <li>
                        <span class="que-name">{{q.question_text}}</span><br>
                        <div class="que-opts">

                            {% for o in q.option_set.all %}
                                
                            <input type="radio" class="radio" name="{{ q.id }}" value="{{o.id}}" id = "{{ o.id }}">
                            <label for="{{o.id}}"> <span class="que-opt-n">{{ o.text }}</span> </label> <br>
                                
                            {% endfor %}
                            
                            
                            {% comment %} <input type="radio" class="radio" name="q1"><span class="que-opt-n">Rare, less than a day or two</span><br>
                            <input type="radio" class="radio" name="q1"><span class="que-opt-n">Several days</span><br>
                            <input type="radio" class="radio" name="q1"><span class="que-opt-n">More than hlaf the days</span><br>
                            <input type="radio" class="radio" name="q1"><span class="que-opt-n">Nearly every day</span> {% endcomment %}
                        </div>
                    </li>
                {% endfor %}
                </ul>
                <input type="submit" class="test-ques-submit-btn" value="SUBMIT">
            </form>
        </div>
    </section>

    <div id="logout-modal-id" class="modal">
        <form class="modal-content animate" action="" method="post">

            {% csrf_token %}
            <div class="imgcontainer">
                <span onclick="document.getElementById('logout-modal-id').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
  
            <div class="login-container">
  
                <input type="submit" class="login-btn" value="Log Out" style="background: none; border: none; background-color: #ddd; margin-top: 15px; padding: 11px; border-radius: 10px; width: 100%;">
            </div>

        </form>
    </div>

</div>
<section class="footer">
    <span><i class="fa fa-copyright"></i> Copyright <span class="year"></span> | How are you?</span>
    <div>
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
    </div>
</section>
<script src="{% static 'take_questionnaire/src.js' %}"></script>
</body>
</html>